body {
  background-color: #f8f9fa;
}

.quiz {
  border: 1px solid black;
}

.body {
  display: flex;
  gap: 10px;
}

.first {
  width: 15vw;
  height: 30vh;
  border: 1px solid black;
  background-color: white;
}

.header {
  background-color: white;
  width: 65vw;
}

.question {
  background-color: white;
  width: 65vw;
}
